In [31]:
# Import Packages
import pandas as pd
import pylab
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
# Reading the Phylly's park data from the URL baove
pparks = pd.read_csv("http://data-phl.opendata.arcgis.com/datasets/d52445160ab14380a673e5849203eb64_0.csv")

In [33]:
# get the info and the statistical description of the dataframe
pparks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   OBJECTID                 510 non-null    int64
 1   PUBLIC_NAME              510 non-null    object
 2   PARENT_NAME              510 non-null    object
 3   NESTED                   510 non-null    object
 4   OFFICIAL_NAME            284 non-null    object
 5   LABEL                    510 non-null    object
 6   ALIAS                    353 non-null    object
 7   DPP_ASSET_ID             510 non-null    int64
 8   ADDRESS_911              502 non-null    object
 9   ZIP_CODE                 510 non-null    int64
 10  ADDRESS_BRT              429 non-null    object
 11  ALIAS_ADDRESS            426 non-null    object
 12  ACREAGE                  510 non-null    float64
 13  PROPERTY_CLASSIFICATION  510 non-null    object
 14  PPR_USE                  510 non-null    object
 15  PPR_DISTRICT             0 non-null      float64
 16  PPR_OPS_DISTRICT         510 non-null    object
 17  COUNCIL_DISTRICT         509 non-null    object
 18  POLICE_DISTRICT          509 non-null    object
 19  CITY_SCALE_MAPS          510 non-null    object
 20  LOCAL_SCALE_MAPS         510 non-null    object
 21  PROGRAM_SITES            510 non-null    object
 22  COMMENTS                 146 non-null    object
 23  Shape__Area              510 non-null    float64
 24  Shape__Length            510 non-null    float64
dtypes: float64(4), int64(3), object(18)
memory usage: 99.7+ KB

In [34]:
# show the shape of the parks file dataframe
(517,25)

(517, 25)

In [35]:
# show the column names in the dataframe
pparks.columns

Index(['OBJECTID', 'PUBLIC_NAME', 'PARENT_NAME', 'NESTED', 'OFFICIAL_NAME',
       'LABEL', 'ALIAS', 'DPP_ASSET_ID', 'ADDRESS_911', 'ZIP_CODE',
       'ADDRESS_BRT', 'ALIAS_ADDRESS', 'ACREAGE', 'PROPERTY_CLASSIFICATION',
       'PPR_USE', 'PPR_DISTRICT', 'PPR_OPS_DISTRICT', 'COUNCIL_DISTRICT',
       'POLICE_DISTRICT', 'CITY_SCALE_MAPS', 'LOCAL_SCALE_MAPS',
       'PROGRAM_SITES', 'COMMENTS', 'Shape__Area', 'Shape__Length'],
      dtype='object')

In [36]:
# show the beginning of the dataframe (the first 5 rows)
pparks.head()

,OBJECTID,PUBLIC_NAME,PARENT_NAME,NESTED,OFFICIAL_NAME,LABEL,ALIAS,DPP_ASSET_ID,ADDRESS_911,ZIP_CODE,...,PPR_DISTRICT,PPR_OPS_DISTRICT,COUNCIL_DISTRICT,POLICE_DISTRICT,CITY_SCALE_MAPS,LOCAL_SCALE_MAPS,PROGRAM_SITES,COMMENTS,Shape__Area,Shape__Length
0,1,William H (Billy) Markward Memorial Playground,Schuylkill River Park,Y,William H. (Billy) Markward Memorial Playground,Markward,NaN,1903,400 S TANEY ST,19146,...,NaN,"5, 7",2,9,Y,Y,Y,NaN,23295.664062,892.868012
1,2,Schuylkill Banks,Schuylkill Banks,N,NaN,Schuylkill Banks,Schuylkill River Park,2794,400 S TANEY ST,19103,...,NaN,"5, 7","2, 5","9, 17",Y,Y,N,Bill 160113 (4/14/16) -South of South St Bridge,101477.171875,9300.670275
2,3,Schuylkill River Park,Schuylkill River Park,N,NaN,Schuylkill River Park,NaN,2992,400 S TANEY ST,19146,...,NaN,"5, 7",2,9,Y,Y,Y,NaN,27216.929688,799.048584
3,4,Frankford Boat Launch,Frankford Boat Launch,N,Frankford Boat Launch,Frankford Launch,PA Fish & Boat;Frankford Arsenal Boat Launch,3090,5625 TACONY ST,19137,...,NaN,2,6,15,Y,Y,N,NaN,78515.335938,1585.376114
4,5,Orthodox Street Park,Orthodox Street Park,N,NaN,Orthodox,Orthodox Street Parcel; Bridesburg Riverfront ...,3091,3101 ORTHODOX ST,19137,...,NaN,2,6,15,N,N,N,Officially acquired from PAID in 10/2019. Doc ...,72926.187500,1304.901416

In [37]:
# show the end of the dataframe (the last 5 rows)
pparks.tail()

,OBJECTID,PUBLIC_NAME,PARENT_NAME,NESTED,OFFICIAL_NAME,LABEL,ALIAS,DPP_ASSET_ID,ADDRESS_911,ZIP_CODE,...,PPR_DISTRICT,PPR_OPS_DISTRICT,COUNCIL_DISTRICT,POLICE_DISTRICT,CITY_SCALE_MAPS,LOCAL_SCALE_MAPS,PROGRAM_SITES,COMMENTS,Shape__Area,Shape__Length
505,506,Officer Robert Hayes Memorial Playground,Officer Robert Hayes Memorial Playground,N,Officer Robert Hayes Memorial Playground,Hayes,"Swenson Park, Conwell",1923,9949 PRESIDENT ST,19115,...,NaN,1,10,7,Y,Y,Y,NaN,139660.027344,1698.902277
506,507,Benjamin Franklin Parkway,Benjamin Franklin Parkway,N,Benjamin Franklin Parkway,Benjamin Franklin Pkwy,The Parkway,1226,BENJ FRANKLIN PKY,0,...,NaN,5,5,9,Y,Y,N,22nd and Hamilton 'wedge' added (Street Legal ...,103066.453125,9195.466911
507,508,Winter Street Greenway,Benjamin Franklin Parkway,Y,NaN,Winter Greenway,Rob Stuart Memorial Dog Park; Winter Street Gr...,0,BENJ FRANKLIN PKY,0,...,NaN,5,5,9,N,Y,N,Named in 2021. Winter (21st-22nd) has a dog pa...,5386.812500,679.857371
508,509,61st and Cobbs Creek Park,Cobbs Creek Park,Y,NaN,61st and Cobbs Creek,,3481,61ST & COBBS CREEK,19143,...,NaN,8,3,18,Y,Y,Y,NaN,35596.937500,1037.395645
509,510,Lawrence Court Breezeways,Lawrence Court Breezeways,N,NaN,Lawrence Breezeway,Lawrence Court Walkways,3867,335 LAWRENCE CT,19106,...,NaN,5,1,6,N,Y,N,NaN,1945.863281,394.259401

In [38]:
pparks.shape

(510, 25)

In [39]:
pparks.describe

<bound method NDFrame.describe of      OBJECTID                                     PUBLIC_NAME  \
0           1  William H (Billy) Markward Memorial Playground
1           2                                Schuylkill Banks
2           3                           Schuylkill River Park
3           4                           Frankford Boat Launch
4           5                            Orthodox Street Park
..        ...                                             ...
505       506        Officer Robert Hayes Memorial Playground
506       507                       Benjamin Franklin Parkway
507       508                          Winter Street Greenway
508       509                       61st and Cobbs Creek Park
509       510                       Lawrence Court Breezeways

                                  PARENT_NAME NESTED  \
0                       Schuylkill River Park      Y
1                            Schuylkill Banks      N
2                       Schuylkill River Park      N
3                       Frankford Boat Launch      N
4                        Orthodox Street Park      N
..                                        ...    ...
505  Officer Robert Hayes Memorial Playground      N
506                 Benjamin Franklin Parkway      N
507                 Benjamin Franklin Parkway      Y
508                          Cobbs Creek Park      Y
509                 Lawrence Court Breezeways      N

                                       OFFICIAL_NAME                   LABEL  \
0    William H. (Billy) Markward Memorial Playground                Markward
1                                                NaN        Schuylkill Banks
2                                                NaN   Schuylkill River Park
3                              Frankford Boat Launch        Frankford Launch
4                                                NaN                Orthodox
..                                               ...                     ...
505         Officer Robert Hayes Memorial Playground                   Hayes
506                        Benjamin Franklin Parkway  Benjamin Franklin Pkwy
507                                              NaN         Winter Greenway
508                                              NaN    61st and Cobbs Creek
509                                              NaN      Lawrence Breezeway

                                                 ALIAS  DPP_ASSET_ID  \
0                                                  NaN          1903
1                                Schuylkill River Park          2794
2                                                  NaN          2992
3         PA Fish & Boat;Frankford Arsenal Boat Launch          3090
4    Orthodox Street Parcel; Bridesburg Riverfront ...          3091
..                                                 ...           ...
505                              Swenson Park, Conwell          1923
506                                        The Parkway          1226
507  Rob Stuart Memorial Dog Park; Winter Street Gr...             0
508                                                             3481
509                            Lawrence Court Walkways          3867

            ADDRESS_911  ZIP_CODE  ... PPR_DISTRICT PPR_OPS_DISTRICT  \
0        400 S TANEY ST     19146  ...          NaN             5, 7
1        400 S TANEY ST     19103  ...          NaN             5, 7
2        400 S TANEY ST     19146  ...          NaN             5, 7
3        5625 TACONY ST     19137  ...          NaN                2
4      3101 ORTHODOX ST     19137  ...          NaN                2
..                  ...       ...  ...          ...              ...
505   9949 PRESIDENT ST     19115  ...          NaN                1
506   BENJ FRANKLIN PKY         0  ...          NaN                5
507   BENJ FRANKLIN PKY         0  ...          NaN                5
508  61ST & COBBS CREEK     19143  ...          NaN                8
509     335 LAWRENCE CT     19106  ...          NaN                5

     COUNCIL_DISTRICT POLICE_DISTRICT CITY_SCALE_MAPS  LOCAL_SCALE_MAPS  \
0                   2               9               Y                 Y
1                2, 5           9, 17               Y                 Y
2                   2               9               Y                 Y
3                   6              15               Y                 Y
4                   6              15               N                 N
..                ...             ...             ...               ...
505                10               7               Y                 Y
506                 5               9               Y                 Y
507                 5               9               N                 Y
508                 3              18               Y                 Y
509                 1               6               N                 Y

    PROGRAM_SITES                                           COMMENTS  \
0               Y                                                NaN
1               N    Bill 160113 (4/14/16) -South of South St Bridge
2               Y                                                NaN
3               N                                                NaN
4               N  Officially acquired from PAID in 10/2019. Doc ...
..            ...                                                ...
505             Y                                                NaN
506             N  22nd and Hamilton 'wedge' added (Street Legal ...
507             N  Named in 2021. Winter (21st-22nd) has a dog pa...
508             Y                                                NaN
509             N                                                NaN

       Shape__Area Shape__Length
0     23295.664062    892.868012
1    101477.171875   9300.670275
2     27216.929688    799.048584
3     78515.335938   1585.376114
4     72926.187500   1304.901416
..             ...           ...
505  139660.027344   1698.902277
506  103066.453125   9195.466911
507    5386.812500    679.857371
508   35596.937500   1037.395645
509    1945.863281    394.259401

[510 rows x 25 columns]>

In [40]:
meanps = pparks['ACREAGE'].mean()

In [44]:
# show the mean and median sizes of the dataframe 
# are they the same? 


# Printing the mean and median

The Mean= 19.619205270754357
The Median= 3.37914443

SyntaxError: ignored

In [45]:
# visualize a histogram of the park size. 
# you can use the method of the ACREAGE column .hist()
# choose an appropriate number of bins with the argument bins=
# overplot on the histogram the mean and the median of the distribution



#to get the legend to render pass to axvline the argument label="..." with ... being whatever you want displayed

In [46]:
mean_wage=wage.mean()

NameError: ignored

In [47]:
#how to simplify
mean_wage=round(wage.mean(),4)=4=.0000

SyntaxError: ignored

In [49]:
# The mean, median, and mode will all be in the same column now
mode_wage=round(wage.mode(),4)
median_wage=round(wage.Median(),4)

NameError: ignored

In [51]:
pparks{'age'}.max()

SyntaxError: ignored

In [52]:
ax=data['age'].hist(bins=20)

NameError: ignored